rules_version = '2';

// Returns true if uploaded file is an image & its size is below given MB
function isImageBelowMaxSize(maxSizeMB) {
	return request.resource.size < maxSizeMB * 1024 * 1024
  	&& request.resource.contentType.matches('images/.*');
}

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read;
      allow write: if false && isImageBelowMaxSize(5);
    }
  }
}