name: Build & deploy functions

on:
  push:
    branches:
      - main
    paths:
      - 'function/**'
  pull_request:
    paths:
      - 'function/**'

env:
  PROJECT_ID: petchat-85f05

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Google Auth
        uses: google-github-actions/auth@v3
        id: auth
        with:
          credentials_json: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_PETCHAT_85F05 }}
          token_format: access_token
      - name: Deploy Function
        uses: google-github-actions/deploy-cloud-functions@v4
        with:
          name: image-processor-staging
          runtime: nodejs22
          entry_point: processImage
          env_vars: |
            FIREBASE_FUNCTION_ORIGIN=${{ env.PROJECT_ID }}
            FIREBASE_STORAGE_BUCKET=${{ (github.event.pull_request.head.repo.full_name == github.repository && 'staging.') || '' }}${{ env.PROJECT_ID }}.appspot.com
          source_dir: function
          description: Resize & compress uploaded images for petchat
          event_trigger_type: google.storage.object.finalize
          event_trigger_resource: projects/${{ env.PROJECT_ID }}/buckets/${{ (github.event.pull_request.head.repo.full_name == github.repository && 'staging.') || '' }}${{ env.PROJECT_ID }}.appspot.com
